![alt text](../../figs/logoLEFT.png "CLDF") | CÂMARA LEGISLATIVA DO DISTRITO FEDERAL | ![alt text](../../figs/logoRIGHT.png "CLDF")
--- | :---: | ---
| **COORDENADORIA DE MODERNIZAÇÃO E INFORMÁTICA - CMI** | 
| **OFICINA ASI/LABHINOVA** | 
| **ANÁLISE EXPLORATÓRIA DE DADOS ABERTOS USANDO PYTHON** |

# Plotando e Visualizando Gráficos Usando Bokeh

#### Cada jupyter-notebook possui "sua própria memória" assim objetos definidos em um não são acessíveis em outro. Ou seja, se você tentar acessar nosso "DataFrame" definido no notebook anterior, o notebook atual não vai reconhecer. Olha só:

In [1]:
df

NameError: name 'df' is not defined

#### Então precisamos carregar tudo de novo para a memória. Sorte que já adiantamos isso para você na próxima linha que importa a biblioteca pandas, lê o arquivo csv e ainda cria as colunas "divisao" e "divisaoMaiorQue180" criadas na etapa anterior da oficina:

In [2]:
import pandas as pd
df = pd.read_csv('bolsafamilia.csv')
df['divisao'] = df['valor'] / df['qtdBeneficiados']
df['divisaoMaiorQue180'] = df['divisao'] > 180
df.head()

,id,dataReferencia,codIBGE,nomeIBGE,UFSigla,UFNome,valor,qtdBeneficiados,divisao,divisaoMaiorQue180
0,75908792,01/01/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11450358.0,63239,181.064818,True
1,72208975,01/02/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11034212.0,61121,180.530620,True
2,63909551,01/03/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11435012.0,61189,186.880191,True
3,74709431,01/04/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,10762080.0,59505,180.860096,True
4,73009570,01/05/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11761262.0,67777,173.528808,False

#### Ótimo! Agora podemos continuar...

VOU ESTUDAR UM POUCO MAIS ANTES DE CONTINUAR ISSO