![alt text](../../figs/logoLEFT.png "CLDF") | CÂMARA LEGISLATIVA DO DISTRITO FEDERAL | ![alt text](../../figs/logoRIGHT.png "CLDF")
--- | :---: | ---
| **COORDENADORIA DE MODERNIZAÇÃO E INFORMÁTICA - CMI** | 
| **OFICINA ASI/LABHINOVA** | 
| **ANÁLISE EXPLORATÓRIA DE DADOS ABERTOS USANDO PYTHON** |

# Acessando Dados Abertos de Arquivos CSV

Vamos continuar o curso mostrando como acessar dados abertos de arquivos CSV e também vamos aproveitar para falar um pouco do domínio de Matemática e Estatística do nosso diagrama Venn de Ciência de Dados abaixo, lembra? Não podemos perder o foco!

![alt text](../../figs/dsvenn-br-math-peq.png "Diagrama de Venn de Ciência de Dados ênfatizando Estatística")

#### Uma coisa de cada vez! Primeiro vamos importar as bibliotecas que faremos uso. Lembra do pandas? Esse é o momento de usar essa ferramenta!

![alt text](../../figs/pandas.png "Biblioteca Pandas")

"Pandas é uma biblioteca de código aberto para análise de dados. Ela dá ao Python a capacidade de trabalhar com dados do tipo planilha, permitindo carregar, manipular, alinhar e combinar dados rapidamente, entre outras funções. Para proporcionar esses recursos mais sofisticados ao Python, o Pandas introduz dois tipos de dados: DataFrame e Series. DataFrame representa os dados de planilha ou retangulares completos, enquanto Series corresponde a uma única coluna do DataFrame. Também podemos pensar em um DataFrame do Pandas como um dicionário ou uma coleção de objetos Series."
(CHEN, D. Y. Análise de dados com Python e Pandas. Novatec, 2018)

#### Vamos importar a biblioteca pandas:

In [1]:
import pandas as pd

Vou explicar rapidamente o comando acima: Mandamos importar a biblioteca "pandas" e damos a ela um apelido "pd". Você poderia ter escolhido o apelido que quisesse. Mas tornou-se convenção entre os cientistas de dados que usam essa biblioteca chamá-la assim.

#### Agora vamos usar essa ferramenta! 

A primeira coisa que faremos será ler o arquivo CSV. Já colocamos o arquivos CSV "bolsafamilia.csv" dentro do ambiente computacional que você está usando.

#### Então, vamos ler e carregar seus dados:

In [2]:
df = pd.read_csv('bolsafamilia.csv')

Calma! Vou explicar! O comando "read_csv" da ferramenta "pandas" que aqui nós apelidamos de "pd" lê um arquivo csv e devolve um objeto do tipo "DataFrame". 

"DataFrame" é como se fosse uma tabela.

Nós então resolvemos armazenar esse objeto "DataFrame" numa nova variável que apelidados de "df". Não é df de Distrito Federal, é df de Data Frame!

#### Para ver o conteúdo do objeto "df" criado acima, podemos simplesmente digitar "df" e mandar executar.

In [3]:
df

,id,dataReferencia,codIBGE,nomeIBGE,UFSigla,UFNome,valor,qtdBeneficiados
0,75908792,01/01/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11450358.0,63239
1,72208975,01/02/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11034212.0,61121
2,63909551,01/03/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11435012.0,61189
3,74709431,01/04/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,10762080.0,59505
4,73009570,01/05/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11761262.0,67777
...,...,...,...,...,...,...,...,...
80,71010608,01/09/2019,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,12459837.0,65270
81,73009437,01/10/2019,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,12583058.0,65446
82,69210574,01/11/2019,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,12110463.0,61517
83,66307873,01/12/2019,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,12284381.0,62034
84,67007738,01/01/2020,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,12109549.0,61776

#### O jupyter-notebook já reconhe o objeto do tipo "pandas.DataFrame" e traz nesse formato de tabela. É diferente de você dar um print(df) que trás o objeto em formato texto.

In [6]:
print(df)

          id dataReferencia  codIBGE  nomeIBGE UFSigla            UFNome  \
0   75908792     01/01/2013  5300108  BRASÍLIA      DF  DISTRITO FEDERAL
1   72208975     01/02/2013  5300108  BRASÍLIA      DF  DISTRITO FEDERAL
2   63909551     01/03/2013  5300108  BRASÍLIA      DF  DISTRITO FEDERAL
3   74709431     01/04/2013  5300108  BRASÍLIA      DF  DISTRITO FEDERAL
4   73009570     01/05/2013  5300108  BRASÍLIA      DF  DISTRITO FEDERAL
..       ...            ...      ...       ...     ...               ...
80  71010608     01/09/2019  5300108  BRASÍLIA      DF  DISTRITO FEDERAL
81  73009437     01/10/2019  5300108  BRASÍLIA      DF  DISTRITO FEDERAL
82  69210574     01/11/2019  5300108  BRASÍLIA      DF  DISTRITO FEDERAL
83  66307873     01/12/2019  5300108  BRASÍLIA      DF  DISTRITO FEDERAL
84  67007738     01/01/2020  5300108  BRASÍLIA      DF  DISTRITO FEDERAL

         valor  qtdBeneficiados
0   11450358.0            63239
1   11034212.0            61121
2   11435012.0            61189
3   10762080.0            59505
4   11761262.0            67777
..         ...              ...
80  12459837.0            65270
81  12583058.0            65446
82  12110463.0            61517
83  12284381.0            62034
84  12109549.0            61776

[85 rows x 8 columns]

## Antes de continuar precisamos nos familiarizar um pouco mais com esse objeto "DataFrame" que contém os nossos dados. Então, sem perder tempo e sem medo, vamos aprender alguns comandos que podemos usar:

#### O comando "shape" mostra o shape do DataFrame. Ele devolveu uma tupla (85,8). Essa tupla indica que o DateFrame "df" possui 85 linhas e 8 colunas.

In [4]:
df.shape

(85, 8)

#### O comando "columns" nos entrega uma lista contendo as colunas do Dataframe.

In [15]:
df.columns

Index(['id', 'dataReferencia', 'codIBGE', 'nomeIBGE', 'UFSigla', 'UFNome',
       'valor', 'qtdBeneficiados'],
      dtype='object')

#### O comando "head()" mostra a "cabeça" da tabela, ou seja, ele vai mostrar as primeiras linhas da tabela.

In [20]:
df.head()

,id,dataReferencia,codIBGE,nomeIBGE,UFSigla,UFNome,valor,qtdBeneficiados
0,75908792,01/01/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11450358.0,63239
1,72208975,01/02/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11034212.0,61121
2,63909551,01/03/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11435012.0,61189
3,74709431,01/04/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,10762080.0,59505
4,73009570,01/05/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11761262.0,67777

#### Já o comando "tail()" vai mostrar as últimas linhas...

In [21]:
df.tail()

,id,dataReferencia,codIBGE,nomeIBGE,UFSigla,UFNome,valor,qtdBeneficiados
80,71010608,01/09/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12459837.0,65270
81,73009437,01/10/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12583058.0,65446
82,69210574,01/11/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12110463.0,61517
83,66307873,01/12/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12284381.0,62034
84,67007738,01/01/2020,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12109549.0,61776

Olha só! A linha 84 trouxe o valor gasto com Bolsa Família no mês de janeiro de 2020. Foram 12.109.549 reais apenas no DF. Veja só, sem perceber, você já está fazendo Análise Exploratória nos Dados. Vamos continuar...

#### O comando "dtypes" entrega informações um pouco mais detalhadas sobre as colunas (= variáveis), incluindo seus tipos de dados.

In [7]:
df.dtypes

id                   int64
dataReferencia      object
codIBGE              int64
nomeIBGE            object
UFSigla             object
UFNome              object
valor              float64
qtdBeneficiados      int64
dtype: object

#### O comando "info()" apresenta informações gerais sobre as estruturas de dados e os dados.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               85 non-null     int64
 1   dataReferencia   85 non-null     object
 2   codIBGE          85 non-null     int64
 3   nomeIBGE         85 non-null     object
 4   UFSigla          85 non-null     object
 5   UFNome           85 non-null     object
 6   valor            85 non-null     float64
 7   qtdBeneficiados  85 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 5.4+ KB

## Em seguida, é importante também, entender como acessar uma única linha do DataFrame, uma única coluna, ou uma única célula. Vamos lá:

### Acessando linhas individualmente:

#### Como exemplo, primeiro vamos pedir as primeiras linhas. Lembra como fazemos isso?

In [11]:
df.head()

,id,dataReferencia,codIBGE,nomeIBGE,UFSigla,UFNome,valor,qtdBeneficiados
0,75908792,01/01/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11450358.0,63239
1,72208975,01/02/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11034212.0,61121
2,63909551,01/03/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11435012.0,61189
3,74709431,01/04/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,10762080.0,59505
4,73009570,01/05/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11761262.0,67777

#### Ok, então suponha que queremos acessar apenas a linha de índice 2. Para isso, usamos o comando iloc[i] com o número do índice da linha entre colchetes como no exemplo abaixo:

In [23]:
df.iloc[2]

id                         63909551
dataReferencia           01/03/2013
codIBGE                     5300108
nomeIBGE                   BRASÍLIA
UFSigla                          DF
UFNome             DISTRITO FEDERAL
valor                    1.1435e+07
qtdBeneficiados               61189
Name: 2, dtype: object

#### Tenta aí: Pega a primeira linha! Lembre-se que a primeira linha é aquela que possui índice 0!

In [21]:
df.iloc[?]

SyntaxError: invalid syntax (<ipython-input-21-315afffa9231>, line 1)

#### Resposta:

In [24]:
df.iloc[0]

id                         75908792
dataReferencia           01/01/2013
codIBGE                     5300108
nomeIBGE                   BRASÍLIA
UFSigla                          DF
UFNome             DISTRITO FEDERAL
valor                   1.14504e+07
qtdBeneficiados               63239
Name: 0, dtype: object

#### Legal, mas e se eu quiser a "qtdBeneficiados" da linha de índice 0? Aí você faz assim:

In [25]:
df.iloc[0]['qtdBeneficiados']

63239

#### Faz esse exercício: Se eu te pedir pra dividir o "valor" pela "qtdBeneficiados" da linha de índice 0. Como seria?

In [26]:
# Escreva aqui

#### Resposta:

In [3]:
valor1 = df.iloc[0]['valor'] / df.iloc[0]['qtdBeneficiados']
print(valor1)

181.0648175967362

### Acessando colunas individualmente:

#### Acessar uma coluna inteira é mais fácil ainda. Tudo que você tem que fazer é colocar o nome da coluna entre colchetes. Primeiro, vamos pedir as colunas. Lembra como faz?

In [4]:
df.columns

Index(['id', 'dataReferencia', 'codIBGE', 'nomeIBGE', 'UFSigla', 'UFNome',
       'valor', 'qtdBeneficiados'],
      dtype='object')

#### Vamos então pegar a coluna "valor" inteira:

In [5]:
df['valor']

0     11450358.0
1     11034212.0
2     11435012.0
3     10762080.0
4     11761262.0
         ...
80    12459837.0
81    12583058.0
82    12110463.0
83    12284381.0
84    12109549.0
Name: valor, Length: 85, dtype: float64

#### E como pegar o valor de índice 2?

In [6]:
df['valor'].iloc[2]

11435012.0

#### Exercício: pegar o valor da linha de índice 0?

In [7]:
df['valor'].iloc[0]

11450358.0

#### Então poderíamos ter feito aquela conta do "valor" dividido pelo "qtdBeneficiados" de forma diferente:

In [8]:
valor2 =  df['valor'].iloc[0] / df['qtdBeneficiados'].iloc[0]
print(valor2)

181.0648175967362

#### Veja que eu nomei as variáveis de valor1 e valor2 de propósito porque agora poderemos comparar as duas. O resultado deveria ser o mesmo:

In [9]:
valor1 == valor2

True

####  Legal! Vamos continuar? Vou mostrar mais um recurso muito poderoso do DataFrame que é a possibilidade de você criar novas colunas inteiras através de simples comandos.

#### Não seria interessante verificar quanto dá a divisão do "valor" pela "qtdBeneficiados" de cada linha do no DataFrame. Então, podemos criar uma nova coluna e fazer essas contas apenas com esse comando:

In [10]:
df['divisao'] = df['valor'] / df['qtdBeneficiados']

#### Como a coluna "divisao"  não existe, ele cria e ele faz a conta em cada linha para nós. Peça o head() e você verá que a nova coluna "divisao" passou a existir com a divisao calculada para cada linha:

In [11]:
df.head()

,id,dataReferencia,codIBGE,nomeIBGE,UFSigla,UFNome,valor,qtdBeneficiados,divisao
0,75908792,01/01/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11450358.0,63239,181.064818
1,72208975,01/02/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11034212.0,61121,180.530620
2,63909551,01/03/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11435012.0,61189,186.880191
3,74709431,01/04/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,10762080.0,59505,180.860096
4,73009570,01/05/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11761262.0,67777,173.528808

#### Outro exemplo seria, por exemplo, criar uma coluna que dirá se, por exemplo, a "divisao" que acabamos de criar é superior ou não a determinado valor constante:

In [12]:
df['divisaoMaiorQue180'] = df['divisao'] > 180

In [13]:
df.head()

,id,dataReferencia,codIBGE,nomeIBGE,UFSigla,UFNome,valor,qtdBeneficiados,divisao,divisaoMaiorQue180
0,75908792,01/01/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11450358.0,63239,181.064818,True
1,72208975,01/02/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11034212.0,61121,180.530620,True
2,63909551,01/03/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11435012.0,61189,186.880191,True
3,74709431,01/04/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,10762080.0,59505,180.860096,True
4,73009570,01/05/2013,5300108,BRASÍLIA,DF,DISTRITO FEDERAL,11761262.0,67777,173.528808,False

## Ótimo! Aprendemos a ler os dados do arquivo CSV e já aprendemos a mostrar esses dados e acessar elementos dele. Vamos seguir para a última parte da oficina que é aprender formas de plotar e visualizar alguns gráficos e fazermos agumas análises estatísticas!

# Quando o instrutor autorizar, siga o link abaixo:

## [Plotando e Visualizando Gráficos Usando Bokeh](../../etapas/bokeh/bokeh.ipynb)