![alt text](../../figs/logoLEFT.png "CLDF") | CÂMARA LEGISLATIVA DO DISTRITO FEDERAL | ![alt text](../../figs/logoRIGHT.png "CLDF")
--- | :---: | ---
| **COORDENADORIA DE MODERNIZAÇÃO E INFORMÁTICA - CMI** | 
| **OFICINA ASI/LABHINOVA** | 
| **ANÁLISE EXPLORATÓRIA DE DADOS ABERTOS USANDO PYTHON** |

# Acessando Dados Abertos de Arquivos CSV

Vamos continuar o curso mostrando como acessar dados abertos de arquivos CSV e também vamos aproveitar para falar um pouco do domínio de Matemática e Estatística do nosso diagrama Venn de Ciência de Dados abaixo, lembra? Não podemos perder o foco!

![alt text](../../figs/dsvenn-br-math-peq.png "Diagrama de Venn de Ciência de Dados ênfatizando Estatística")

#### Uma coisa de cada vez! Primeiro vamos importar as bibliotecas que faremos uso. Lembra do pandas? Esse é o momento de usar essa ferramenta!  ![alt text](../../figs/pandas.png "Biblioteca Pandas")

"Pandas é uma biblioteca de código aberto para análise de dados. Ela dá ao Python a capacidade de trabalhar com dados do tipo planilha, permitindo carregar, manipular, alinhar e combinar dados rapidamente, entre outras funções. Para proporcionar esses recursos mais sofisticados ao Python, o Pandas introduz dois tipos de dados: DataFrame e Series. DataFrame representa os dados de planilha ou retangulares completos, enquanto Series corresponde a uma única coluna do DataFrame. Também podemos pensar em um DataFrame do Pandas como um dicionário ou uma coleção de objetos Series."
(CHEN, D. Y. Análise de dados com Python e Pandas. Novatec, 2018)

#### Vamos importar a biblioteca pandas:

In [4]:
import pandas as pd

Vou explicar rapidamente o comando acima: Mandamos importar a biblioteca "pandas" e damos a ela um apelido "pd". Você poderia ter escolhido o apelido que quisesse. Mas tornou-se convenção entre os cientistas de dados que usam essa biblioteca chamá-la assim.

#### Agora vamos usar essa ferramenta! 

A primeira coisa que faremos será ler o arquivo CSV. Já colocamos o arquivos CSV "bolsafamilia.csv" dentro do ambiente computacional que você está usando.

#### Então, vamos ler e carregar seus dados:

In [7]:
df = pd.read_csv('bolsafamilia.csv',sep=',',encoding='latin1')

Calma! Vou explicar! O comando "read_csv" da ferramenta "pandas" que aqui nós apelidamos de "pd" lê um arquivo csv e devolve um objeto do tipo "DataFrame". 

"DataFrame" é como se fosse uma tabela.

Nós então resolvemos armazenar esse objeto "DataFrame" numa nova variável que apelidados de "df".

#### Para ver o conteúdo do objeto "df" criado acima, podemos simplesmente digitar "df" e mandar executar.

In [13]:
df

,id,dataReferencia,codIBGE,nomeIBGE,UFSigla,UFNome,valor,qtdBeneficiados
0,75908792,01/01/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11450358.0,63239
1,72208975,01/02/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11034212.0,61121
2,63909551,01/03/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11435012.0,61189
3,74709431,01/04/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,10762080.0,59505
4,73009570,01/05/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11761262.0,67777
...,...,...,...,...,...,...,...,...
80,71010608,01/09/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12459837.0,65270
81,73009437,01/10/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12583058.0,65446
82,69210574,01/11/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12110463.0,61517
83,66307873,01/12/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12284381.0,62034
84,67007738,01/01/2020,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12109549.0,61776

## Antes de continuar precisamos nos familiarizar um pouco mais com esse objeto "DataFrame" que contém os nossos dados. Então, sem perder tempo e sem medo, vamos aprender alguns comandos que podemos usar:

In [18]:
df.shape

(85, 8)

#### O comando "shape" mostra o shape do DataFrame. Ele devolveu uma tupla (85,8). Essa tupla indica que o DateFrame "df" possui 85 linhas e 8 colunas.

In [15]:
df.columns

Index(['id', 'dataReferencia', 'codIBGE', 'nomeIBGE', 'UFSigla', 'UFNome',
       'valor', 'qtdBeneficiados'],
      dtype='object')

#### O comando "columns" nos entrega uma lista contendo as colunas do Dataframe.

In [20]:
df.head()

,id,dataReferencia,codIBGE,nomeIBGE,UFSigla,UFNome,valor,qtdBeneficiados
0,75908792,01/01/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11450358.0,63239
1,72208975,01/02/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11034212.0,61121
2,63909551,01/03/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11435012.0,61189
3,74709431,01/04/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,10762080.0,59505
4,73009570,01/05/2013,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,11761262.0,67777

#### O comando "head()" mostra a "cabeça" da tabela, ou seja, ele vai mostrar as primeiras linhas da tabela.

In [21]:
df.tail()

,id,dataReferencia,codIBGE,nomeIBGE,UFSigla,UFNome,valor,qtdBeneficiados
80,71010608,01/09/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12459837.0,65270
81,73009437,01/10/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12583058.0,65446
82,69210574,01/11/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12110463.0,61517
83,66307873,01/12/2019,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12284381.0,62034
84,67007738,01/01/2020,5300108,BRASÃLIA,DF,DISTRITO FEDERAL,12109549.0,61776

#### Já o comando "tail()" vai mostrar as últimas linhas...

Olha só! A linha 84 trouxe o valor gasto com Bolsa Família no mês de janeiro de 2020. Foram 12.109.549 reais apenas no DF. Veja só, sem perceber, você já está fazendo Análise Exploratória nos Dados. É isso mesmo...